<html>
<head>
    <title>Choose your preferences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = () => {
        // TODO: How to parse env file from here?
        MessengerExtensions.getSupportedFeatures(function success(result) {
            let features = result.supported_features;
            if (features.includes("context")) {
                MessengerExtensions.getContext('<APP_ID>',
                    function success(thread_context) {
                        // success
                        document.getElementById("psid").value = thread_context.psid;
                    },
                    function error(err) {
                        // error
                        console.log(err);
                    }
                );
            }
        }, function error(err) {
            // error retrieving supported features
            console.log(err);
        });
        document.getElementById('submitButton').addEventListener('click', () => {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                console.log(err);
            });
        });
    };
</script>

<div id="form">
    <form action="/preferencespostback/<%- currUser %>" method="post">
        <input type="hidden" name="psid" id="psid">
        <h3 id="members-header"> Members </h3>
        <div class="members-form">
            <% for (var i = 0; i < data.length; i++) { %>
                <% if (data[i].user_id.localeCompare(currUser) == 0) { %>
                    <div class="member-option">
                        <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>>
                        <label class="member-form-label" for=<%- i %>>
                            <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %> 
                        </label>
                        <!--<img class="member-form-image" id=<%- i %> src=<%- data[i].profileUrl %>/> -->
                        <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                    </div>
               <% } %>
                
            <% } %>
            <button type="submit" name="submit" class="btn btn-primary" id="submitButton"> Submit </button>
        </div>
    </form>
</div>
</body>
</html>