<html>
<head>
    <title>Choose your preferences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = () => {
        MessengerExtensions.getSupportedFeatures(function success(result) {
            let features = result.supported_features;
            if (features.includes("context")) {
                MessengerExtensions.getContext('<APP_ID>',
                    function success(thread_context) {
                        document.getElementById("psid").value = thread_context.psid;
                    },
                    function error(err) {
                        console.log(err);
                    }
                );
            }
        }, function error(err) {
            console.log(err);
        });
        document.getElementById('submitButton').addEventListener('click', () => {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                console.log(err);
            });
        });
    };
</script>

<div id="form">
    <form action="/preferencespostback/<%- currUser %>" method="post">
        <input type="hidden" name="psid" id="psid">
        <h3 id="members-header"> RCF Meets Members </h3>
        <div id="info">
            Please select people you would like to avoid being paired with. 
            (For example, if you know someone super well and would prefer not to be paired with them so you can meet someone new! 
            If there are people you already know but still want to get to know more, don't select them!)
            If you don't know anyone, just click Submit!
        <div class="members-form">
            <% var incomplete = false %>
            <% var freshman = false; %>
            <% var sophomore = false; %>
            <% var junior = false; %>
            <% var senior = false; %>
            <% var count = 0; %>
            <% for (var i = 0; i < data.length; i++) { %>
                <% if (data[i].user_id.localeCompare(currUser) != 0) { %>
                    <% if (data[i].year == null && incomplete === false) { %>
                        <h4 class="class-header"> Incomplete Profile </h4>
                        <% console.log(data[i].firstName); %>
                        <% incomplete = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 1 && freshman === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        <h4 class="class-header"> Freshman </h4>
                        <% freshman = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 2 && sophomore === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        <h4 class="class-header"> Sophomores </h4>
                        <% sophomore = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 3 && junior === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        <h4 class="class-header"> Juniors </h4>
                        <% junior = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 4 && senior === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        <h4 class="class-header"> Seniors </h4>
                        <% senior = true; %>
                        <% count = 0; %>
                    <% } %>

                    <% if (count % 2 == 0) { %>
                        <% count = count + 1; %>
                        <div class="two-member-container">
                            <div class="member-option">
                                <div class="custom-control custom-checkbox">
                                    <label class="member-form-label">
                                        <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>>
                                        <div class="color-checkbox">
                                            <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                            <div class="member-name">
                                                <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                            </div>              
                                        </div>  
                                    </label>
                                </div>  
                            </div>
                    <% } else { %>
                        <% count = count + 1; %>
                        <div class="member-option">
                            <div class="custom-control custom-checkbox">
                                <label class="member-form-label">
                                    <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>>
                                    <div class="color-checkbox">
                                        <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                        <div class="member-name">
                                            <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                        </div>
                                    </div>
                                </label>
                            </div>  
                        </div>
                    </div>
                    <% } %>
               <% } %>
            <% } %>
            <% if (count % 2 != 0) { %>
                </div>
            <% } %>
            <button type="submit" name="submit" class="btn btn-primary" id="submitButton"> Submit </button>
        </div>
    </form>
</div>
</body>
</html>