<html>
<head>
    <title>RCF Meets Members</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/preferencestyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">

</head>
<body>
<script>
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = () => {
        MessengerExtensions.getSupportedFeatures(function success(result) {
            let features = result.supported_features;
            if (features.includes("context")) {
                MessengerExtensions.getContext('<APP-ID>',
                    function success(thread_context) {
                        document.getElementById("psid").value = thread_context.psid;
                    },
                    function error(err) {
                        console.log(err);
                    }
                );
            }
        }, function error(err) {
            console.log(err);
        });
        document.getElementById('submitButton').addEventListener('click', () => {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Webview closing");
            }, function error(err) {
                console.log(err);
            });
        });
    };
</script>

<div id="form">
        <div class="jumbotron">
            <h3 class="greeting-header"> Meet the Members</h3>
            <p id="greeting-info">
                Please select people you already know!
            </p>
            <hr class="my-4">

            <h3 class="FAQ-header"> First time here?</h3>

            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Who should I pick?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Select people you would like to avoid being paired with. This includes people you know super well
                        and would prefer not to be paired with them so you can meet someone new - however, <span class="pick">if there are people you already know but still want to get to know more, don't select them!</span>
                        If you don't know anyone, just click Submit!                   
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How do pairings work?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Just because you select someone doesn't mean you won't get paired with them - <span class="pick">two people both have to select each other in order to not get paired.</span> That being said, make sure you're setting your preferences!
                    </div>
                  </div>
                </div>
            </div>
        </div>

    <form action="/preferencespostback/<%- currUser %>" method="post">

        <nav id="navbar-example2" class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/public/images/rcfmeets.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#freshman">Freshmen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sophomore">Sophomores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#junior">Juniors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#senior">Seniors</a>
                </li>
            </ul>
        </nav>
        <div class="people-container" data-spy="scroll" data-target="#navbar-example2">

        <% var incomplete = false %>
            <% var freshman = false; %>
            <% var sophomore = false; %>
            <% var junior = false; %>
            <% var senior = false; %>
            <% var count = 0; %>
            <% console.log(known) %>
            <% for (var i = 0; i < data.length; i++) { %>
                <% if (data[i].user_id.localeCompare(currUser) != 0) { %>
                    <% if (data[i].year == null && incomplete === false) { %>

                        <div class="class-container" data-spy="scroll" data-target="#navbar-example2">
                       
                        <h4 class="class-title" id="incomplete"> Incomplete Profile </h4>
                        <% console.log(data[i].firstName); %>
                        <% incomplete = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 1 && freshman === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        </div>   
                        <div class="class-container">
                           
                        <h4 class="class-title" id="freshman"> Freshman </h4>
                        <% freshman = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 2 && sophomore === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        </div>
                        <div class="class-container">
                           
                        <h4 class="class-title" id="sophomore"> Sophomores </h4>
                        <% sophomore = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 3 && junior === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        </div>
                        <div class="class-container">
                           
                        <h4 class="class-title" id="junior"> Juniors </h4>
                        <% junior = true; %>
                        <% count = 0; %>
                    <% } else if (data[i].year == 4 && senior === false) { %>
                        <% if (count % 2 != 0) { %>
                            </div>
                        <% } %>
                        </div>
                        <div class="class-container">
                           
                        <h4 class="class-title" id="senior"> Seniors <h4>
                        <% senior = true; %>
                        <% count = 0; %>
                    <% } %>

                    <% if (count % 2 == 0) { %>
                        <% count = count + 1; %>

                        <% if (known.includes(data[i].user_id)) { %>
                            <div class="two-member-container">
                                <!-- <div class="member-option">
                                    <div class="custom-control custom-checkbox">
                                        <label class="member-form-label">
                                            <input class="member-form-input" type="checkbox" checked="checked" name=<%- data[i].user_id %>  id=<%- i %>>
                                            <div class="color-checkbox">
                                                <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                                <div class="member-name">
                                                    <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                                </div>              
                                            </div>  
                                        </label>
                                    </div>  
                                </div> -->

                                <div class="card people-card">
                                    <div class="card-wrapper">
                                        <div class="image-wrapper"> 
                                            <img class="rounded-circle" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                        </div>                                        
                                        <div class="member-name">
                                            <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                        </div>
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary active">
                                                <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %> checked> <span>Know</span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                </div>
                        <% } else { %> 
                            <div class="two-member-container">
                                <!-- <div class="member-option">
                                    <div class="custom-control custom-checkbox">
                                        <label class="member-form-label">
                                            <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>>
                                            <div class="color-checkbox">
                                                <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                                <div class="member-name">
                                                    <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                                </div>              
                                            </div>  
                                        </label>
                                    </div>  
                                </div> -->


                                <div class="card people-card">
                                    <div class="card-wrapper">
                                        <div class="image-wrapper"> 
                                            <img class="rounded-circle" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                        </div>                                        <div class="member-name">
                                            <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                        </div>
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary">
                                                <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>> <span>Don't Know</span>
                                            </label>
                                        </div>
                                    </div>

                                    
                                </div>
                        <% } %> 
                    <% } else { %>
                        <% count = count + 1; %>
                        <% if (known.includes(data[i].user_id)) { %>
                            <!-- <div class="member-option">
                                <div class="custom-control custom-checkbox">
                                    <label class="member-form-label">
                                        <input class="member-form-input" type="checkbox" checked="checked" name=<%- data[i].user_id %>  id=<%- i %>>
                                        <div class="color-checkbox">
                                            <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                            <div class="member-name">
                                                <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                            </div>
                                        </div>
                                    </label>
                                </div>  
                            </div> -->


                            <div class="card people-card">
                                <div class="card-wrapper">
                                    <div class="image-wrapper"> 
                                        <img class="rounded-circle" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                    </div>                                    <div class="member-name">
                                        <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                    </div>
                                    <div class="btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-primary active">
                                            <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %> checked> <span>Know</span>
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <% } else { %>
                            <!-- <div class="member-option">
                                <div class="custom-control custom-checkbox">
                                    <label class="member-form-label">
                                        <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>>
                                        <div class="color-checkbox">
                                            <img class="member-form-image" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                            <div class="member-name">
                                                <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                            </div>
                                        </div>
                                    </label>
                                </div>  
                            </div> -->

                            <div class="card people-card">
                                <div class="card-wrapper">
                                    <div class="image-wrapper"> 
                                        <img class="rounded-circle" id=<%- i %> src="https://graph.facebook.com/<%-data[i].user_id %>/picture?type=large&access_token=<%- access %>"/>
                                    </div>
                                    <div class="member-name">
                                        <%- data[i].firstName %> <%-" " %> <%- data[i].lastName %>
                                    </div>
                                    <div class="btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-primary">
                                            <input class="member-form-input" type="checkbox" name=<%- data[i].user_id %>  id=<%- i %>> <span>Don't Know</span>
                                        </label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <% } %>
                    <% } %>
               <% } %>
            <% } %>
            <% if (count % 2 != 0) { %>
                </div>
            <% } %>
            </div></div></div>
        <button type="submit" name="submit" class="btn btn-primary" id="submitButton"> Submit </button>

    </form>

    <script>
        $('label').click(function () {
            var checked = $('input', this).is(':checked');
            $('span', this).text(checked ? "Don't Know"  : "Know");
        });
    </script>
</div>
</body>
</html>